/* src/components/CancerDialog.css */
.cancer-dialog {
  position: relative;
  display: inline-block;
}

.background-image {
  width: 100%; /* Ustaw rozmiar tła */
  height: auto;
}

.image-button {
  position: absolute;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.image-button img {
  width: 70px; /* Dostosuj rozmiar przycisku do swoich potrzeb */
  height: auto;
}

/* Pozycjonowanie przycisków */
.image-button.bone {
  top: 52%;
  left: 48%;
}

.image-button.blood_cells {
  top: 90%;
  left: 50%;
}

.image-button.liver {
  top: 31%;
  left: 42%;
}

.image-button.lung {
  top: 20%;
  left: 43%;
}

.image-button.pancreas {
  top: 40%;
  left: 38%;
}

.image-button.stomach {
  top: 38%;
  left: 49%;
}

.image-button.throat {
  top: 3%;
  left: 41%;
}

.image-button.skin {
  top: 56%;
  left: 30%;
}
