.main-page {
    width: 400px;
    margin: 10em auto;
    margin-right: 10em;
    border-radius: 1.5em;
    padding: 2em;
    text-align: center;
    background-color: transparent;
}


.main-page .MuiTypography-subtitle2 {
    color: #333;
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}

.main-page .MuiLink-root {
    font-size: 18px;
    color: #6A3D8A;
    cursor: pointer;
    font-weight: bold;
}


