.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.app-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left, #2F4F4F, rgba(47, 79, 79, 0)), url('assets/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}